/build
/simpleimage/*.img
/simpleimage/*.fex
/simpleimage/*.bin
/u-boot-postprocess/out
/lichee
/u-boot-pine64
/arm-trusted-firmware-pine64
/sunxi-pack-tools
/mkbootimg
/linux
/kernel/*.img
/kernel/initrd.gz
/kernel/*.dtb
/busybox
/blobs/*.dtb
