/build
/simpleimage/*.img
/simpleimage/*.fex
/simpleimage/*.bin
/simpleimage/releases
/u-boot-postprocess/out
/lichee
/u-boot-pine64
/arm-trusted-firmware-pine64
/sunxi-pack-tools
/mkbootimg
/linux
/kernel/*.img
/kernel/initrd.gz
/kernel/*.dtb
/kernel/uEnv.txt
/busybox
/blobs/*.dtb
*.snap
/snappy/releases
/snappy/*.img
/snappy/*/stage
/snappy/*/prime
/snappy/*/parts
/snappy/gadget/uboot.env
/snappy/gadget/uboot.conf
/snappy/gadget/boot-assets
