/build
/kernel
/kernel-mainline
/u-boot-mainline
/out
/rkbin
/u-boot
/.repo
*.img
*.img.xz
*.img.tmp
*-packages.txt
*.deb
/package/rtk_bt
*.changes
/arm-trusted-firmware
/tmp
/linux-package
/extras
*.code-workspace
/dockerfiles

