[Unit]
Description=Pine A64 First boot
After=systemd-modules-load.service local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/pine64_first_boot.sh

[Install]
WantedBy=multi-user.target
