[Unit]
Description=Pine64 first boot setup
DefaultDependencies=no
Conflicts=shutdown.target
After=systemd-remount-fs.service
Before=sysinit.target shutdown.target
ConditionPathIsReadWrite=/etc
ConditionPathExists=/etc/pine64-firstboot.d
ConditionPathExists=!/etc/pine64-firstboot.d/.firstboot-done

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/run-parts -v --lsbsysinit --exit-on-error -- /etc/pine64-firstboot.d
ExecStartPost=/usr/bin/touch /etc/pine64-firstboot.d/.firstboot-done

[Install]
WantedBy=sysinit.target
